body{
    height: 1920px;
    width: 100vw;
}

#wrapper {
    height: 100vh; 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 30% 20%;
    grid-template-areas: 
        "he he"
        ". na"
        ". as"
        "fo fo";
}

header {
    grid-area: he;
    background-image: url(../images/Fish.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    grid-area: na;
    background-color: whitesmoke;
}
aside{
    grid-area: as;
    background-color: whitesmoke;
}
footer{
    background-color: grey;
    grid-area: fo;
}
h1{
    margin-left: 460px;
    margin-top: 50px;
    color: aliceblue;
    font-size: 50px
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
h3{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
h5{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}